body {
  background: #1a1a1a;
}

p {
  color: white;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

#environment tr:nth-child(2n+1) {
  background-color: #111;
}

.logwrapper {
  background-color: #000;
}

.logwrapper .log {
  color: white;
}

.logwrapper .logexpander {
  background-color: #111;
}
